@use "./variables.scss" as *;

.page__main {
	margin-inline: $desktop-offset;
	display: grid;
	grid-template-columns: minmax(204px, 280px) auto;
	column-gap: 36px;
}

.page__hidden {
	display: none;
}

@media (width <= 1100px) {
	.page__main {
		margin-inline: $tablet-offset;
	}
}

@media (width <= $tablet-width) {
	.page__main {
		margin-inline: 0;
		padding-inline: $tablet-offset;

		display: block;
	}
}

@media (width <= $mobile-width) {
	.page__main {
		padding-inline: $mobile-offset;
	}
}
