ul.items
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item--inactive
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Сообщить о поступлении
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
  li._item
    ._image-wrapper
      svg._item-icon(role="img" width=60 height=60 aria-hidden="true" fill="currentColor")
        use(href=`img/stack.svg#placeholder`)
      div._promo
        p._promo-header Хит продаж
        svg._fire-icon(role="img" width=20 height=20 aria-hidden="true" fill="currentColor")
          use(href=`img/stack.svg#fire`)
      p._sale 25%
    p._brand Бренд
    p._name Полное название товара в несколько строк для вида с обрывом в конце...
    div._price
      p._price-current 5 990 ₽
      p._price-before 5 990 ₽
    button.cta Купить
