$background: hsl(0, 0%, 100%);
$accent: hsl(223, 86%, 71%);
$background-accent: hsl(213, 100%, 94%);
$light-accent: hsl(212, 86%, 70%);
$font-primary: hsl(0, 0%, 20%);
$font-secondary: hsl(0, 0%, 67%);
$font-additional: "Inter", "Arial", sans-serif;
$font-main: "PT Sans", $font-additional;
$desktop-offset: 100px;
$tablet-offset: 50px;
$tablet-width: 930px;
$mobile-offset: 16px;
$mobile-width: 375px;
